* {
    /* margin: 0; */
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    box-sizing: border-box;

    max-width: 2000px;
    margin: auto;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
}

#loader {
    /* display: none; */
    z-index: 99999;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #111;
    color: #fff;
}

#loader #topHeading {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

#topHeading h5 {
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

#loader h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    font-weight: 500;
}

.reveal .parent {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: hidden;
}

.reveal .parent .child {
    display: block;
}

/* Setting color of Surname */
.surname {
    color: #14cf93;
}

.parent .child span {
    display: inline-block;
}

#green {
    /* display: none; */
    z-index: 999;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0vh;
    background-color: #14cf93;
}

#home {
    width: 100%;
    height: 200vh;
    background-color: #f0f0f0;
}

#home #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 5vw;
    width: 100%;
    height: 100px;
}

#nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    color: #000;
}

.row {
    margin-top: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #333;
    padding: 0 7vw;
    line-height: 1.13;
    /* padding-right: 15vw; */
}

.row h1 {
    font-size: 10vw;
    font-weight: 500;
}

.row .text {
    margin-top: 2vw;
    /* align-items: center; */
    /* top: 0; */
}

.row h5 {
    margin-top: 0;
    opacity: 0.6;
    font-size: 11px;
    font-weight: 500;
}

.row:nth-child(3) {
    margin-top: 0;
}

.row svg {
    /* width: 50px; */
    height: 8vw;
    margin-left: 6vw;
}

path,
polyline {
    stroke: #14cf93;
}
